html {
    --body-bg-color: #F6F6F6;


    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(3763%) hue-rotate(214deg) brightness(92%) contrast(95%);

    --header-bg-color: #EEEEEE;
    --header-box-shadow: rgba(237, 237, 246, 0.20);


    --top-act-group-color: #fff;
    --top-act-group-shodow: rgba(237, 237, 246, 0.20);
    --top-act-separate: #EDEDF6;

    // Dropdown
    --dropdown-bg: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.40);

    --top-menu-separate: #D2D1D6;
    --menu-column-heading-color: #1A162E;

}